@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
/*font-family: 'PT Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');
/*font-family: 'Mukta', sans-serif;*/
.body{
    background-color: rgb(226, 226, 226);
    margin: auto;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    overflow: hidden;
}
.barAnimation1
{
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation: 1s slideUp;
}

.barAnimation2
{
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation: 3s slideUp;
}
/* Mobile */
@media (max-width: 700px)
{
   .bar2{ display: none;}
   .bar4{ display: none;}
   .bar7{ display: none;}
   .bar10{ display: none;}
}

/* Desktop */
@media(min-width:700px){
    .bar2{ display: flex;}
    .bar4{ display: flex;}
    .bar7{ display: flex;}
    .bar10{ display: flex;}
}

.bar1{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 10%;
    height: 300px;
    background-color: rgb(225, 39, 39);
}

.bar2{
    position: absolute;
    bottom: 0px;
    left: 10%;
    width: 10%;
    height: 350px;
    background-color: rgb(22, 165, 222);
}

.bar3{
    position: absolute;
    bottom: 0px;
    left: 20%;
    width: 4%;
    height: 400px;
    background-color: rgb(231, 192, 21);
}

.bar4{
    position: absolute;
    bottom: 0px;
    left: 24%;
    width: 2%;
    height: 200px;
    background-color: #e11c5e;
}
.bar5{
    position: absolute;
    bottom: 0px;
    left: 26%;
    width: 10%;
    height: 360px;
    background-color: #67de17;
}

.bar6{
    position: absolute;
    bottom: 0px;
    left: 36%;
    width: 15%;
    height:390px;
    background-color: #a81ede;
}

.bar7{
    position: absolute;
    bottom: 0px;
    left: 51%;
    width: 10%;
    height: 260px;
    background-color: #07449e;
}
.bar8{
    position: absolute;
    bottom: 0px;
    left: 61%;
    width: 4%;
    height: 310px;
    background-color: #dd5119;
}
.bar9{
    position: absolute;
    bottom: 0px;
    left: 65%;
    width: 10%;
    height: 330px;
    background-color: #d8c410;
}
.bar10{
    position: absolute;
    bottom: 0px;
    left: 75%;
    width: 15%;
    height: 280px;
    background-color: #11d62b;
}
.bar11{
    position: absolute;
    bottom: 0px;
    left: 90%;
    width: 10%;
    height: 350px;
    background-color: #08a0c6;
}
@keyframes slideUp{
    0%{ transform:  translateY(100%); opacity: 0;}
    100%{ transform:  translateY(0%); opacity: 1;}
}




/* >700px Dektop*/
@media (min-width: 700px) {

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        background-color: white;
        transition: background-color 5000s ease-in-out 0s;
    }

    .body {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(242, 242, 242);
        background-position: center;
        /* Center the image */
        background-repeat: no-repeat;
        /* Do not repeat the image */
        background-size: 100%;
    }

    .registrate{
       font-family: 'Mukta', sans-serif;
       text-decoration: underline;
       color:blue;
       font-size: calc(12px + 0.3vw);
       cursor: pointer;
    }

    .form {
        background-color: white;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.131);
        min-width: 260px;
        width: 50%;
        max-width: 500px;
        height: 60vh;
        min-height: 500px;
        max-height: 900px;
        display: grid;
        grid-template-columns: 6fr;
        border-radius: 5px;
        z-index: 100;
    }

    .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        box-sizing: border-box;
    }

    .right {
        background-color: rgb(183, 219, 248);
    }


    .left>label {
        user-select: none;
        font-family: 'Mukta', sans-serif;
        font-size: calc(12px + 0.6vw);
        font-weight: bold;
    }

    .left>.image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(100px + 1vw);
        height: calc(100px + 1vw);
        border-radius: 50%;
        background-color: rgb(241, 241, 241);
    }

    .left>.image>.icon {
        user-select: none;
        width: 60%;
        height: 60%;
    }

    .left>.inputForm1 {
        width: 80%;
        padding: 10px 5px;
        border-radius: 5px;
        border: 1px solid rgb(177, 177, 177);
        font-family: 'PT Sans', sans-serif;
        font-weight: bold;
    }

    .left>.inputForm1:focus {
        outline: none;
        border: 1px solid rgb(49, 121, 215);
        transition: all 0.5s;
    }

    .left>.inputForm2 {
        font-family: 'PT Sans', sans-serif;
        font-weight: bold;
        font-size: 12px;
        min-width: 200px;
        width: 50%;
        height: 50px;
        max-width: 400px;
        transition: all 0.5s;
        color: black;
        background-color: rgb(228, 228, 228);
    }

    .left>.inputForm2:hover {
        cursor: pointer;
        transition: all 0.5s;
        color: white;
        background-color: rgb(80, 139, 178);
    }
}

/*//////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////*/

/* <700px Mobile */
@media (max-width: 700px) {

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        background-color: white;
        font-size: calc(16px + 0.3vw);
        transition: background-color 5000s ease-in-out 0s;
    }

    .body {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(242, 242, 242);
    }

    .form {
        background-color: white;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.131);
        background: rgb(59,105,195);
        background: linear-gradient(90deg, rgba(59,105,195,1) 0%, rgba(59,99,191,1) 5%, rgba(73,110,196,1) 11%, rgba(255,255,255,1) 11%, rgba(255,255,255,1) 89%, rgba(0,212,255,1) 89%);
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 6fr;
        border-radius: 5px;
        z-index: 100;
    }

    .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        box-sizing: border-box;
    }

    .right {
        background-color: rgb(183, 219, 248);
    }


    .left>label {
        user-select: none;
        font-family: 'Mukta', sans-serif;
        font-size: calc(20px + 0.6vw);
        font-weight: bold;
        margin: 5px;
    }

    .left>.image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(100px + 1vw);
        height: calc(100px + 1vw);
        border-radius: 50%;
        background-color: rgb(49, 121, 215);
    }

    .left>.image>.icon {
        user-select: none;
        width: 80%;
        height: 80%;
    }

    .left>.inputForm1 {
        width: 80%;
        height: 40px;
        padding: 10px 5px;
        border-radius: 5px;
        border: 1px solid rgb(177, 177, 177);
        font-family: 'PT Sans', sans-serif;
        font-weight: bold;
        font-size: calc(16px + 0.3vw);
    }

    .left>.inputForm1:focus {
        outline: none;
        border: 1px solid rgb(49, 121, 215);
        transition: all 0.5s;
        font-size: calc(16px + 0.3vw);
    }

    .left>.inputForm2 {
        font-family: 'PT Sans', sans-serif;
        font-weight: bold;
        font-size: 16px;
        min-width: 200px;
        width: 50%;
        height: 50px;
        max-width: 400px;
        transition: all 0.5s;
        color: black;
        background-color: rgb(228, 228, 228);
    }

    .left>.inputForm2:hover {
        cursor: pointer;
        transition: all 0.5s;
        color: white;
        background-color: rgb(80, 139, 178);
    }
}