
<div class="body">
    <div class="bar1 barAnimation2"></div>
    <div class="bar2 barAnimation1"></div>
    <div class="bar3 barAnimation2"></div>
    <div class="bar4 barAnimation1"></div>
    <div class="bar5 barAnimation1"></div>
    <div class="bar6 barAnimation2"></div>
    <div class="bar7 barAnimation1"></div>
    <div class="bar8 barAnimation1"></div>
    <div class="bar9 barAnimation2"></div>
    <div class="bar10 barAnimation1"></div>
    <div class="bar11 barAnimation2"></div>  
    <div class="form">
        <form class="left" [formGroup]="form">
            <div class="image"><img src="./assets/grafico.png" class="icon"></div>
            <br>
            <label for="username">Nombre de Usuario</label>
            <input type="text" class="inputForm1" name="username" formControlName="username">
            <br>
            <label for="password">Contraseña </label>
            <input type="password" class="inputForm1" name="password" formControlName="password">
            <br>
            <input type="button" class="inputForm2" name="submit" value="Iniciar Sesion" (click)="Login()">
            <br>
            <label class="registrate" (click)="Registrar()">Registrate!</label>
        </form>

 
    </div>
</div>