<main>
  <div class="content">
    <div class="link" role="button" (click)="returnPage($event);">
      <span>Regresar</span>
    </div>
    <div class="form">
      <div id="create-form">
        <div class="header-content">
          <h2>Crear nueva gráfica</h2>
          <span>Bienvenido al asistente para crear gráficas, aquí usted podra dar de alta los gráficos que usted necesite para su sitio</span>
        </div>
        <div class="form-content" role="form">
          <form [formGroup]="createChartForm" (submit)="submitForm($event);">
            <div class="form-section">
              <label for="title">Título</label>
              <span>¿Cuál es el nombre de la gráfica a crear?</span>
              <input
                type="text"
                name="title"
                id="title"
                formControlName="title"
                placeholder="Escriba aqui..."
                (input)="setTitle($event);"
              />
            </div>
            <div class="form-section">
              <label for="chartType">Tipo de Gráfica</label>
              <span>¿Qué tipo de gráfico desea generar?</span>
              <select
                name="chartType"
                id="chartType"
                formControlName="chartType"
                (change)="setChartType($event);"
              >
                <option value="bar">Barras</option>
                <option value="area">Área</option>
              </select>
            </div>
            <div class="form-section">
              <label for="dataSet">Conjunto de datos</label>
              <span>Selecciona los datos que desea graficar</span>
              <select
                name="dataSet"
                id="dataSet"
                formControlName="dataSet" 
                #dataSet
                >
          <option *ngFor="let name of listConjuntNames" >{{name}}</option>
              </select>
            </div>
            <div class="form-section">
              <label for="description">Descripción</label>
              <span>Si desea poner algún comentario adicional, aquí lo puede realizar</span>
              <input type="text" name="description" id="description" formControlName="description" placeholder="Escriba aqui...">
            </div>
            <div class="form-section">
              <input type="submit" value="Crear gráfica">
            </div>
          </form>
        </div>
      </div>
      <div class="form-section center" id="chart-prev">
        <apx-chart
          [chart]="chart.chart"
          [series]="chart.series"
          [xaxis]="chart.xaxis"
          [title]="chart.title"
        ></apx-chart>
        <div class="w-full">
          <span>{{ createChartForm.controls.description.value }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="banner"></div>
  <div class="modal-wrapper" *ngIf="isReturn">
    <div class="modal">

    </div>
  </div>
</main>
